apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
patches:
  - path: hpa.yaml
    target:
      kind: HorizontalPodAutoscaler
      name: esquire-deployment
      namespace: default
